<h1>Tweets from Westeros</h1>

<table>
  <% @tweets.each do |tweet| %>
    <tr>
      <td>
        <%= tweet.user %> (<%= tweet.location %>):
        <br>
        "<%= tweet.text %>"
        <br>
        <%= link_to 'Show', tweet_path(tweet)  %>
        <%= link_to 'Edit', edit_tweet_path(tweet) %>
        <%= link_to 'Delete', tweet_path(tweet), method: :delete, data: {confirm: 'Are you sure?'} %>
      </td>
    </tr>
  <% end %>
</table>

<br>
<%= link_to "New Tweet", new_tweet_path %>
